.Fooditems{   
     grid-template-columns: repeat(4, 1fr) 0.3fr;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: grid;
}

.cart-photo{
    max-width: 5rem;
    height: 5rem;
    object-fit: contain;
}